.guess-label {
    -fx-font-size: 25;
    -fx-border-width: 2px;
    -fx-border-color: #dee1e9;
    -fx-background-color: #fbfcff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #414a5e;
    -fx-alignment: center;
}

.stimulate-button {
    -fx-background-radius: 5px;
    -fx-background-color: #dce1ed;
    -fx-font-size: 19;
    -fx-text-fill: #414a5e;
    -fx-font-family: "Yu Gothic UI Semibold";
    -fx-cursor: hand;
}

.stimulate-button:hover {
    -fx-background-color: #c3cce0;
}

.stimulate-button:pressed {
    -fx-background-color: #a9b6d9;
}

.label {
    -fx-effect: dropshadow(three-pass-box, rgb(49, 72, 116, 0.2), 5, 0, 0.5, 0.5);
}

.select-game-button {
    -fx-border-radius: 15px;
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

.select-game-button :hover {
    -fx-min-height: 60;
    -fx-min-width: 60;
    -fx-fill-height: 60;
    -fx-fill-width: 60;
}

.title {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: linear-gradient(to right, #4CCDF1, #1645BD);
}