* {
    -fx-font-family: "Roboto Thin";
}

.label-title {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
}

.label-subtitle {
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-text-fill: #c2bfbf;
}

.label-instruction {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
}

.button-start {
    -fx-text-fill: #333333;
    -fx-background-color: white;

}

.button-learn {
    -fx-text-fill: white;
    -fx-background-color: #B9B9B9FF;
}

.button {
    -fx-font-size: 13px;
}