. list-view .scroll-bar:horizontal .increment-arrow,
. list-view .scroll-bar:horizontal .decrement-arrow,
. list-view .scroll-bar:horizontal .increment-button,
. list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

. list-view .scroll-bar:vertical {
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

. list-view .decrement-button, .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. list-view .increment-button, .list-view .increment-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #314874;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

. list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}

.button-normal {
    -fx-text-fill: white;
    -fx-background-color: #314874;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button-normal:hover {
    -fx-border-radius: 5px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-background-color: #68718F;
    -fx-border-color: #FEC400;
}

.button-normal:pressed {
    -fx-background-color: #5F647C;
    -fx-border-width: 1px;
}

.list-view {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.web-view {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.search-text {
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.button-delete {
    -fx-text-fill: white;
    -fx-background-color: #bbbbbb;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
    -fx-min-height: 18px;
    -fx-min-width: 18px;
    -fx-max-height: 18px;
    -fx-max-width: 18px;
}

.button-delete:hover {
    -fx-background-color: #b6b6b6;

}

.button-delete:pressed {
    -fx-background-color: #a9a9a9;
}

.list-view, .web-view, .search-text {
    -fx-background-color: white;
    -fx-text-fill: #797979;
    -fx-effect: dropshadow(three-pass-box, rgb(49, 72, 116, 0.3), 10, 0, 1, 1);
    -fx-background-radius: 8;
    -fx-font-size: 14;
}