. list-view .scroll-bar:horizontal .increment-arrow,
. list-view .scroll-bar:horizontal .decrement-arrow,
. list-view .scroll-bar:horizontal .increment-button,
. list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

. list-view .scroll-bar:vertical {
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

. list-view .decrement-button, .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. list-view .increment-button, .list-view .increment-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #314874;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

. list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #314874;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-border-radius: 5px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-background-color: #68718F;
    -fx-border-color: #FEC400;
}

.button:pressed {
    -fx-background-color: #5F647C;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.list-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #314874;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.web-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #314874;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.search-text {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #1a3b7a;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}