.text_area {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 5px 50px 5px;
    -fx-border-color: #314874;
    -fx-background-color: white;
}

.choice-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #314874;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.choice-box .label {
    -fx-text-fill: #333333;
    -fx-font-size: 14;
}

.choice-box:hover {
    -fx-cursor: hand;
    -fx-background-color: #cecdcd;
}

.tran-button {
    -fx-text-fill: white;
    -fx-background-color: #314874;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.tran-button:hover {
    -fx-border-radius: 5px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-background-color: #68718F;
    -fx-border-color: #FEC400;
}

.tran-button:pressed {
    -fx-background-color: #5F647C;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}



. text_area .scroll-bar:horizontal .increment-arrow,
. text_area .scroll-bar:horizontal .decrement-arrow,
. text_area .scroll-bar:horizontal .increment-button,
. text_area .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

. text_area .scroll-bar:vertical {
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

. text_area .decrement-button, .text_area .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. text_area .increment-button, .text_area .increment-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. text_area .scroll-bar:vertical .thumb {
    -fx-background-color: #314874;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

. text_area .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}