.text-area {
    -fx-padding: 10px 5px 40px 5px;
}

.button-voice {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.button-voice:hover {
    -fx-background-color: transparent;
}

.button-voice:pressed {
    -fx-background-color: transparent;
}