.text_area {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #FBF5D5;
}

.choice-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #ece9e9;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.choice-box .label {
    -fx-text-fill: #333333;
}

.choice-box:hover {
    -fx-cursor: hand;
    -fx-background-color: #cecdcd;
}