* {
    font-family: Helvetica, sans-serif;
}

h1 {
    color: #1D2A57;
    font-size: 22px;
    font-weight: 400;
}

h2 {
    color: #1D2A57;
    font-size: 16px;
}

h3 {
    color: #0066ff;
    font-size: 14px;
}

ul li {
    list-style-type: none;
}
